.weikeDetail > .media {
    padding: 10px 20px;
    margin: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.weikeDetail .media-right img {
    height: 60px;
    width: 60px;
}


.weikeDetail > div > div:first-child {
    flex: 1;
}

.weikeDetail > div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
}
.weikeDetail  .media-body {
    width: auto;
    vertical-align: middle;
}


.modal .modal-dialog {
    width: 80%;
}

.modalWeikeItemBotmBar {
    display: flex;
    align-items: center;
    background: #286090;
    padding: 8px 0;
}

.modalWeikeItemBotmBar > a,
.modalWeikeItemBotmBar > span {
    text-align: center;
    color: #ccc;
}

.modalWeikeItemBotmBar > a:hover {
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: default;
}
.modalWeikeItemBotmBar > a:last-child:hover {
    color: #ccc;
}

.modalWeikeItemBotmBar > a:first-child {
    flex: 2;
}

.modalWeikeItemBotmBar > a:nth-child(3),
.modalWeikeItemBotmBar > a:last-child {
    flex: 1;
}

.modalWeikeItemComment {
    padding: 5px 16px 10px;
    position: relative;
}

.modalWeikeItemComment > div:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -5px;
    left:  37%;
}

.modalWeikeItemComment .weikeCellComment,
.modalWeikeItemComment .weikeCellCommentList {
    margin: 8px 0;
}

.modalWeikeItemComment .weikeCellCommentList img {
    width: 48px;
    height: 48px;
}

.modalWeikeItemComment .weikeCellCommentList .media {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modalWeikeItemComment .weikeCellCommentList .media-body {
    width: 1000px;
}

.weikeCellShowComment {
    align-self: flex-end;
    position: relative;
    top: -20px;
}


.modalWeikeItemComment .weikeCellCommentReply {
    display: flex;
    justify-content: flex-end;
}

.modalWeikeItemComment .weikeCellShowComment a,
.modalWeikeItemComment .weikeCellCommentReply a{
    font-size: 12px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    cursor: default;
}

.modalWeikeItemComment .weikeCellCommentList > a,
.modalWeikeItemComment .weikeCellCommentList > a > span {
    width: 100%;
    text-align: center;
}

.modal-dialog button:focus {
    outline: none;
    box-shadow: none;
}

.modal-dialog input:focus {
    outline: none;
    box-shadow: none;
}