body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.content {
    padding-left: 0;
    padding-right: 0;
}

.content .tabNav {
    padding-left: 25px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    background-color: #F7F7F7;
}

.messageList {
    padding: 0;
}

.messageList > p:first-child {
    margin-left: 30px;
}

.weikeDetail > .media,
.messageList > .media {
    padding: 10px 20px;
    margin: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.messageList > .media:hover {
    background-color: #ddd; 
}

.messageList .media-left {
    padding-left: 16px;
    padding-right: 30px;
}
.weikeDetail .media-right img,
.messageList .media-left img {
    height: 60px;
    width: 60px;
}

.messageList .media-body {
    padding-right: 16px;
    vertical-align: middle;
}

.messageList .media-body p {
    margin-bottom: 0; 
}

.messageList .media-body h3 {
    margin-bottom: 3px; 
    margin-top: 10px; 
}

.messageList .media-body > div {
    display: flex;
    align-items: center;
}

.messageList .media-body > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.messageList .media-body button {
    width: 100px;

    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.messageList .media-body button:focus {
    outline: none;
    box-shadow: none;
}


#reviewMessageList .media-body {
    padding-left: 20px;
}

.messageList .media-body div:nth-child(2){
    flex: 1;
}

/*              筛选 checkbox                 */
.checkboxList {
    padding: 0 30px;
}