body {
    background-color: #1B2145;
    background-image: url('http://img.t.sinajs.cn/t6/skin/skinvip723/images/body_bg_page.jpg?id=1376628763520');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container input:focus,
.container button:focus {
    outline: none;
    box-shadow: none;
    border-color: #ccc;
}
.container a:hover {
    text-decoration: none;
    cursor: default;
}

.personalPageHead {
    margin-top: 65px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.personalPageHead div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;

}
.personalPageHead div.img {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px solid rgba(238,238,238,0.50);
    margin-right: 30px;
}
.personalPageHead span {
    font-size: 24px;
    color: white;
    font-weight: 500;
}
.personalPageHead button {
    width: 100%;
    margin-top: 10px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.personalPageSidebar > div {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px 8px 8px;
}

.personalPageSidebar > div > span:first-child {
    margin-left: 10px;
    color: #888;
    font-size: 18px;
}

.personalPageHotWeike > div,
.personalPageInfo > div {
    padding: 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.personalPageHotWeike > div:hover {
    background-color: #ddd; 
}

.personalPageHotWeike > div:nth-child(2),
.personalPageInfo > div:nth-child(2) {
    border-top: none;
}

.personalPageInfo > div > span:first-child {
    margin-right: 5px;
}

.personalPageInfo > div > span:last-child {
    font-size: 12px;
}

.personalPageHotWeike > div > p:first-child {
    margin-bottom: 5px;
}
.personalPageHotWeike > div > p:last-child {
    font-size: 12px;
    margin: 0;
    color: #777;
}

.personalPageCommonFollow.affix {
    top: 70px;
    width: 360px;
}

.personalPageCommonFollow > div {
    display: flex;
    flex-wrap: wrap;
}

.personalPageCommonFollow > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.personalPageCommonFollow img {
    width: 60px;
    height: 60px;
}

.personalPageNav {
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.personalPageNav.affix {
    top:70px;
    z-index: 10;
    width: 750px;
    border: 1px #ddd solid; 
}

.personalPageNav span {
    flex: 1;
    height: 34px;
}

.personalPageNav button {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.personalPageNav button > span {
    display: none;
}

.personalPageNav button:hover > span {
    display: inline;
}

.breadcrumb > li {
    padding-left: 20px;
}

.breadcrumb > li+li:before {
    padding: 0 20px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.personalPageContentItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 16px 0 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.personalPageContentItem > .media > .media-left {
    padding-left: 16px;
}

.personalPageContentItem > .media > .media-body {
    padding-right: 16px;
}

.personalPageContentItem > .media > .media-left img {
    height: 60px;
    width: 60px;
}

.personalPageContentItem > .media > .media-body p {
    margin-bottom: 0; 
}

.personalPageContentItem > .media > .media-body h3 {
    margin-bottom: 3px; 
    margin-top: 10px; 
}

.personalPageContentItem > .media > .media-body p:nth-child(2) {
    font-size: 12px;
    color: #777;
}

.personalPageContentItem .thumbnail {
    border: none;
    padding: 10px 0 0;
}

.personalPageContentItemBotmBar {
    display: flex;
    align-items: center;
    background: #286090;
    padding: 8px 0;
}

.personalPageContentItemBotmBar > a,
.personalPageContentItemBotmBar > span {
    text-align: center;
    color: #ccc;
}

.personalPageContentItemBotmBar > a:hover {
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: default;
}
.personalPageContentItemBotmBar > a:last-child:hover {
    color: #ccc;
}

.personalPageContentItemBotmBar > a:first-child {
    flex: 2;
}

.personalPageContentItemBotmBar > a:nth-child(3),
.personalPageContentItemBotmBar > a:last-child {
    flex: 1;
}

.personalPageContentItemComment {
    padding: 5px 16px 10px;
    position: relative;
}

.personalPageContentItemComment > div:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -5px;
    left: 270px;
}

.weikeCellComment,
.weikeCellCommentList {
    margin: 8px 0;
}

.weikeCellCommentList img {
    width: 48px;
    height: 48px;
}

.weikeCellCommentList .media {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.weikeCellCommentList > .media .media  {
    border-left: #888 2px solid;
    padding-left: 10px;
}*/

.weikeCellShowComment {
    align-self: flex-end;
    position: relative;
    top: -20px;
}


.weikeCellCommentReply {
    display: flex;
    justify-content: flex-end;
}

.weikeCellShowComment a,
.weikeCellCommentReply a{
    font-size: 12px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    cursor: default;
}

.weikeCellCommentList > a,
.weikeCellCommentList > a > span {
    width: 100%;
    text-align: center;
}

.followList {
    padding: 0;
}

.followList > div {
    padding-bottom: 10px;
    padding-top:10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.followList > div:hover {
    background-color: #ddd;
}

.followList .media-body {
    vertical-align: middle;
}

.followList .media-body > div {
    display: flex;
    align-items: center;
}

.followList .media-body > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.followList .media-body div:nth-child(2){
    flex: 1;
}

#favoriteWeike,
#followUser {
    display: none;
}